// --------------------------------------------------------------------------*
// Estilos base
// --------------------------------------------------------------------------*
* {
  box-sizing: border-box;
}
html, body {
  box-sizing: border-box;
  color: $c_texto;
  font-family: $ff_principal;
}

// --------------------------------------------------------------------------*
// Contenedor pricipal de todo el documento
// --------------------------------------------------------------------------*
.MainWrapper {
  margin: 0 auto;
  font-weight: 400;
}
