doctype html
html(lang='es')
  head
    title Ordenador de serie
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='Desafío frontend')
    meta(name='keywords', content='keywords')
    meta(name='author', content='Juan Cahuana <jcahuanam@gmail.com>')
    meta(name="robots", content="index, follow")

    //- ----- link website ----- //
    link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

    //- ----- CSS Files ----- //
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500', type='text/css')
    link(rel='stylesheet', href='css/style.css')
    
  body
    include ./includes/mensaje.jade
    .MainWrapper
      header.Header
        .Header-content
          h1.Header-title Ordenador de serie
      section.Content
        .IngresoNumeros
          .IngresoNumeros-description Ingresa cualquier número.
          form.IngresoNumeros-form(action="", method="post")
            input.ipt_numero(type="text", name="ipt_numero", placeholder="", maxlength="3")
            button.btn_ingresar(type="submit")
              | <i class="icon fa fa-plus" aria-hidden="true"></i>
        .Canvas
          .Canvas-brain
            .image
          .Canvas-aleatorios
          .Canvas-controls
            button.btn_ordenar
              | <i class="icon fa fa-sort-numeric-asc" aria-hidden="true"></i> Ordenar

  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src='js/vendor/jquery.numeric.min.js')
  script(src='js/mensaje.js')
  script(src='js/ordenar-numeros.js')
  script(src='js/app.js')
