// Fuentes
$ff_principal : 'Fira Sans', arial, sans-serif;

// Colores
$c_texto  : #444444;
$c_azul_1 : #3191EA;
$c_azul_2 : #0671d4;

$c_verde_1 : #d6fba8;
$c_verde_2 : #1cb841;
$c_verde_3 : #0e992f;
$c_verde_4 : #73ab2d;
$c_verde_5 : #5D926A;

// Colores de alerta y error
$c_error   : #EF444B;
$c_success : #0e992f;
$c_alert   : #ffca28;
