// Fuentes
$ff_principal : 'Work Sans', arial, sans-serif;

// Colores
$c_texto  : #444444;
$c_azul_1 : #0078e7;
$c_azul_2 : #0671d4;

$c_verde_1 : #c8f68f;
$c_verde_2 : #1cb841;
$c_verde_3 : #0e992f;

// Colores de alerta y error
$c_alert : #baae0b;
