.Mensaje
  .Mensaje-overlay
  .Mensaje-content
    span.icon_wrapper
      | <i class="icon alert fa fa-exclamation-triangle" aria-hidden="true"></i>
      | <i class="icon success fa fa-smile-o" aria-hidden="true"></i>
    span.text Mensaje por defecto
    
