// --------------------------------------------------------------------------*
// Destino donde se ingresan los números
// --------------------------------------------------------------------------*
.Canvas {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;

  // Item a ordenar
  .item-numero {
    background-color: #fff;
    border: 1px solid $c_verde_4;
    color: $c_verde_4;
    display: block;
    float: left;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    position: relative;
    &.destino {
      margin-left: 35px;
    }
  }

  // Bloque
  &-brain {
    padding-bottom: 10px;
    display: none;
    .image {
      background: transparent url(../img/brain.png) 0 0 no-repeat;
      height: 127px;
      width: 126px;
      margin: 0 auto;
      &.change_bg {
        background-position: -126px 0;
      }
    }
  }

  // Bloque donde se guardan los números
  &-aleatorios {
    padding: 5px;
    background-color: $c_verde_1;
    min-height: 35px;
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &-controls {
    padding-top: 10px;
    .btn_ordenar {
      background-color: $c_verde_2;
      border-radius: 4px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 13px;
      height: 30px;
      line-height: 30px;
      margin: 0 auto;
      width: 90px;
      &:hover {
        background-color: $c_verde_3;
      }
      .icon {
        font-size: 15px;
        line-height: 30px;
        margin-right: 3px;
      }
      &:disabled {
        cursor: default;
        color: #bbb6b6;
        background: $c_verde_5;
      }
    }
  }

}
